* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: #ececec;
}

h1 {
  font-size: 20pt;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
#blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.box {
  width: 350px;
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1250px) {
  .box {
    width: 600px;
  }
}

@media (max-width: 1100px) {
  .box {
    width: 70%;
  }
}

@media (max-width: 550px) {
  .box {
    margin: 20px 10px;
    width: 100%;
  }
  #blog {
    padding: 20px;
  }
}
